<%= form_with(model: price) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
        <% price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price, class: 'label' %>
    <%= form.text_field :price, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label "Product", class: 'label' %>
    <%= form.text_field "product", { value: @price.product.title, disabled: 'true', class: 'input' }  %>
    <%= form.hidden_field :product_id %>
    <%# <%= hidden_field_tag "price[product_id]", @product.id %>
  </div>

  <div class="field">
    <%= fields_for 'price[store_attributes]' do |s| %>
      <%= s.label :store, class: 'label' %>
      <%= s.text_field :name, list: 'stores', value: @price.store ? @price.store.name : '', class: 'input', autocomplete: 'false' %>
        <datalist id='stores'>
          <% Store.all.each do |store| %>
            <option value="<%= store.name %>">
          <% end %>
        </datalist>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
