<%= form_with(model: price) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
        <% price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label "Product" %>
    <%= form.text_field "product", { value: @price.product.title, disabled: 'true' } %>
    <%= form.hidden_field :product_id %>
    <%# <%= hidden_field_tag "price[product_id]", @product.id %>
  </div>

  <div class="field">
    <%= fields_for 'price[store_attributes]' do |s| %>
      <%= s.label :store %>
      <%= s.text_field :name, list: 'stores', value: @price.store ? @price.store.name : '' %>
        <datalist id='stores'>
          <% Store.all.each do |store| %>
            <option value="<%= store.name %>">
          <% end %>
        </datalist>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
