<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= fields_for 'product[upc_attributes]' do |upc| %>
      <%= upc.label :upc, class: 'label' %>
      <%= upc.text_field :code , value: @upc, class: 'input' %>
    <% end %>
  </div>
  
  <div class="field">
    <%= form.label :name, class: 'label'%>
    <%= form.text_field :name, value: @name, class: 'input'%>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_field :description, class: 'input' %>
  </div>

  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= form.label :magnitude, class: 'label' %>
      <%= form.text_field :magnitude, class: 'input' %>
    </div>

    <div class="control select">
      <%= form.label :unit_id, class: 'label' %>
      <%= form.collection_select :unit_id, Unit.all, :id, :unit, { prompt: true },{ class: 'select' }%>
    </div>
  </div>

  <div class="field">
    <%= fields_for 'product[brand_attributes]' do |b| %>
      <%= b.label :brand, class: 'label' %>
      <%= b.text_field :name, list: 'brands', value:  @product.brand ? @product.brand.name : '', class: 'input', autocomplete: 'false' %>
        <datalist id='brands'>
          <% Brand.all.each do |brand| %>
            <option value="<%= brand.name %>">
          <% end %>
        </datalist>
    <% end %>
  </div>

  <div class="field">
    <%= fields_for 'product[category_attributes]' do |cat| %>
      <%= cat.label :category, class: 'label' %>
      <%= cat.text_field :list, list: 'categories',
       value: @categories, 
       class: 'input', autocomplete: 'false' %>
        <datalist id='categories'>
          <% Category.all.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        </datalist>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
    <%= link_to 'Cancel', root_path, class: 'button ' %>
  </div>
<% end %>
