<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="container">
    <h1 class="title">Products</h1>
    <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Weight</th>
              <th>Weight unit</th>
              <th>Brand</th>
              <th>Category</th>
              <th>Upc</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.magnitude %></td>
                <td><%= product.unit ? product.unit.unit : '' %></td>
                <td><%= product.brand.name %></td>
                <td>
                  <%= product.categories.map(&:name).join(', ')%>
                </td>
                <td><%= product.upc ? product.upc.code : ''%></td>
                <td><%= link_to 'View', product, class: 'button is-small' %></td>
                <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

</section>
<section class="section">
  <div class="container">
    <%= link_to 'New Product', new_product_path, class: 'button'%>
  </div>
</section>