<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @product.alias %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Weight unit:</strong>
  <%= @product.weight ? @product.weight_unit.unit : nil %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>Volume unit:</strong>
  <%= @product.volume ? @product.volume_unit.unit : nil %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @product.upc_id ? @product.upc.code : nil %>
</p>

<p>
  <strong>Plu:</strong>
  <%= @product.plu_id ? @product.plu.code : nil%>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'View All', products_path %>
<br />
<%= link_to 'Add Price', new_price_path(product_id: @product.id)%>

<%# Product Prices List %>
<% %>
<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Store</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.prices.limit(10).order(created_at: :desc).each do |price| %>
      <tr>
        <td><%= "$#{price.price}" %></td>
        <td><%= price.store.name %></td>
        <td><%= link_to 'Edit', edit_price_path(price) %></td>
        <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>