<!DOCTYPE html>
<html>
  <head>
    <title>ThriftyShopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="section m-0 p-0">
      <div class="container">
        <div class="columns">
          <div class="column is-9 is-offset-1">
            <nav class="navbar mt-5 mb-5" role='navigation' aria-label='main navigation'>
              <div class="navbar-brand">
                <%= link_to 'Thrifty Shopper', root_path, { class: 'navbar-item has-text-weight-bold'  }%>
              </div>
            </nav>
          </div>
        </div> 
      </div>
    </div>
    <div class="section main-content m-0 p-0" >
      <div class="container ">
        <div class="columns">
          <div class="column is-9 is-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
