<!DOCTYPE html>
<html>
  <head>
    <title>ThriftyShopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="section m-0 p-0">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">

            <nav class="navbar" role='navigation' aria-label='main navigation'>
              <div class="navbar-brand">
                <%= link_to 'Thrifty Shopper', root_path, { class: 'navbar-item has-text-weight-bold'  }%>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuItems">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarMenuItems" class="navbar-menu">
                <div class="navbar-start">
                  <%= link_to 'About', about_path, { class: 'navbar-item' }%>
                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <button class="button is-primary"><strong>Sign Up</strong></button>
                      <button class="button is-light">Login</button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>

          <div class="section main-content m-0 p-0" >
            <%= yield %>
          </div>

          </div>
        </div> 
      </div>
    </div>
    <script>
      document.addEventListener('turbolinks:load', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            if (!el.dataset.toggle) {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
              el.dataset.toggle = true ;
            };
          });
        }
      });
    </script>
  </body>
</html>
