<!DOCTYPE html>
<html>
  <head>
    <title>ThriftyShopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="section m-0 p-0">
      <div class="container">
        <div class="columns">
          <div class="column is-9 is-offset-1">
            <nav class="navbar" role='navigation' aria-label='main navigation'>
              <div class="navbar-brand">
                <%= link_to 'Thrifty Shopper', root_path, { class: 'navbar-item has-text-weight-bold'  }%>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuItems">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarMenuItems" class="navbar-menu">
                <div class="navbar-start">
                  <%= link_to 'About', about_path, { class: 'navbar-item' }%>
                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <button class="button is-primary"><strong>Sign Up</strong></button>
                      <button class="button is-light">Login</button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div> 
      </div>
    </div>
    <div class="section main-content m-0 p-0" >
      <div class="container ">
        <div class="columns">
          <div class="column is-9 is-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
